*.vs
*.exe
*.sdf
*.opensdf
*.zip
*.suo
*.ncb
*.vcproj.*
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
build-*
ipch/*
gui/*

Icon?
.DS_Stor*

# Xcode files
xcuserdata/
*.xcuserdata
*.xcschememanagement.plist
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcsettings

.vscode/

build/
build_cli/
docs/

venv/
site/

.claude/
